body {
    padding-top: 60px;
    padding-bottom: 30px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.tamanoLogo {
    width: 90%;
    height: 25%;
}

.TdImgIndex{
    width:5%;

}

.ImgIndex{
    width:100%;
}

.ImgEditar{
    padding-top: 20px;
    width:50%;
}

.navbar{
    padding: 0rem;
}

